<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Merci de ne pas avoir quitté le concert au milieu d'un solo de batterie. Vous êtes un vrai fan !! <i class="fa-solid fa-music"></i></p>
  </div>
