<%= form_with(model: @experience, scope: :experience, url: experiences_path, method: :post, local: true, data: { turbo: false }, html: { multipart: true }) do |form| %>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
