.experiences_card{
  background-color: rgb(245, 242, 249);
  height: 470px;
  width: 330px;

  p, h1, h2, h3, h4{
    color: #32036f;
    margin: 8px;
  }

  img{
    height: 200px;
    width: 350px;
    border-radius: 10px;
    object-fit: cover;

  }

  a{
    text-decoration: none;
  }

  .experiences_body{
    padding-left: 10px;
  }
}
