.navbar-lewagon {
  justify-content: space-between;
  background: #1a0128;
  z-index: 1100;
 }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: grey;
}

.navbar-title {
  color:white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
